/* Movie Details Styles */
.movie-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
  }
  
  .movie-details img {
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #1404ed;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .close-button:hover {
    background: #ff1a1a;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  